aside {
    display: block;
    margin-bottom: 10px;
    float: left;
}

    aside.sidebar {
        background-color: #ffee77;
        width: 100px;
    }

    aside ul {
        list-style: none;
        margin: 0;
        padding: 10px;
    }

        aside ul li {
            padding: 5px;
        }

            aside ul li:hover {
                background-color: #e8a950;
            }

    aside a {
        text-decoration: none;
    }

.content {
    float: left;
    margin-left: 10px;
}

    .content:after {
        clear: both;
    }

.uk-icon, .germany-icon, .bg-icon {
    display: inline-block;
    width: 200px;
    height: 180px;
    border: 3px solid #ff7d00;
    border-radius: 3px;
    background-color: rgba(255, 106, 0, 0.40);
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px;
    font-size: 18pt;
    color: #271674;
    font-weight: bold;
    font-family: Arial;
}

    .uk-icon:hover, .germany-icon:hover {
        background-color: rgba(255, 106, 0, 0.70);
    }

.uk-icon {
    background-image: url('Images/uk.png');
}

.germany-icon {
    background-image: url('Images/germany.png');
}

.bg-icon {
    background-image: url('Images/bg.png');
}